@using Introduccion_ASP.NET_Core_MVC.Models.ViewModel
@model AnimalesViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @for(int i = 0; i < Model.Animales.Count; i++){
        <li><span class="animal-id">ID: @(i+1) </span>@Model.Animales[i]</li>
    }
</div>
